# Subprojects (separate repositories)
api/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
vpn-basa

# Secrets
.env
cloudflared-credentials.json
wppa-api-2
.ENV_CICD
deployer
incode2
